__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

.venv/
venv/
env/
ENV/

.ipynb_checkpoints/
*.ipynb

*.weights
*.pth
*.h5
*.t7
*.t7*
*.pkl

*.log
runs/

output_patches/
patched_images/
inference/

datasets/

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.*~

.flake8.cache

.jpg